{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=devies-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
   
    <title>Hello, world!</title>
  </head>
    <div class="wrapper">
      <form action="" method="post">
        {% csrf_token %}
        <form>
        <h1> Signup Here </h1>
        <div class="input-box">
          {% comment %} <label for="username" class="form-label">Username</label> {% endcomment %}
          <input type="text" class="form-control" placeholder="username" name="username" id="username">
          </div>
        <div class="input-box">
          {% comment %} <label for="email" class="form-label">Email</label> {% endcomment %}
          <input type="email" class="form-control" placeholder="email" name="email" id="email">
          </div>
        <div class="input-box">
          {% comment %} <label for="Password1" class="form-label">Password</label> {% endcomment %}
          <input type="password" class="form-control" placeholder="password" name="password1" id="Password1">
        </div>
        <div class="input-box">
            {% comment %} <label for="password2" class="form-label">Confirm Password</label> {% endcomment %}
            <input type="password" class="form-control" placeholder="Confirm Password" name="password2" id="password2">
          </div>

        <button type="submit" class="btn btn-primary">Submit</button>

        <div class="register-link">
          <p> I have an account? <a href="http://127.0.0.1:8000/login/"> Register</a></p>
      </div>

      </form>
    </form>
  </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>